.social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.social__auth {
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: antiquewhite;
}
.social__auth-google {
  background: rgb(255, 75, 75);
}
.social__auth-google:hover {
  background-color: red;
}
.social__auth-google:focus {
  transform: scale(1.1);
}
.social__auth-facebook {
  background: rgb(112, 112, 255);
}
.social__auth-facebook:hover {
  background-color: blue;
}
.social__auth-facebook:focus {
  transform: scale(1.1);
}
