.form {
  padding: 10px;
}
.form__container-button {
  display: flex;
  justify-content: center;
}
.form__submit {
  background: #f77e17;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
  color: antiquewhite;
}

.form__submit:hover {
  background-color: orange;
}
.form__submit:focus {
  transform: scale(1.1);
}